.tableContainer {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #2c2c2c;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 90vh;
  width: 100%;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  color: #ccc;
  table-layout: auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.code, .output {
  width: 25%;
  max-width: 25%;
}

.scrollable {
  overflow-x: auto;
  white-space: nowrap;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 14px;
  background-color: #444;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteButton:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.heading {
  font-size: 24px;
  color: #ddd;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #444;
}

.loading {
  color: #ff9800;
  font-size: 16px;
  text-align: center;
}

.error {
  color: #f44336;
  font-size: 16px;
  text-align: center;
}

.downloadButton svg {
  vertical-align: middle;
  font-size: 16px;
}

