.tableContainer {
  margin: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #2c2c2c;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color: #ccc;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

td.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.deleteButton, .toggleBlockButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #e53935;
}

.toggleBlockButton {
  background-color: #3498db;
}

.toggleBlockButton:hover {
  background-color: #2980b9;
}

.heading {
  font-size: 24px;
  color: #ddd;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #444;
}

p {
  font-size: 16px;
  color: #ccc;
  text-align: center;
}

p.error {
  color: #f44336;
}

p.loading {
  color: #ff9800;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 14px;
  background-color: #444;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
